// Draft localisation v0.3 (no tags)
// © Dr. Jet, Yalov

Localization
{
  ru
  {
    // Manufacturers
    #LOC_SSPX_manufacturer_kerbalmax_title = Кербалмакс Индастриз

    // Parts
    // Command
    #LOC_SSPX_crewpod-cupola-375_title = Экстрапланетарный окто-решётчатый модуль PXL-9
    #LOC_SSPX_crewpod-cupola-375_description = Если вы ищете крутой набор узко-наклонных иллюминаторов для вашей космической станции, Кербалмакс вас порадует. У PXL-9 их двенадцать. Вмещает несколько кербалов и содержит рудиментарные элементы управления.
    #LOC_SSPX_crewpod-cupola-375_tags = base capsule cmg command control ?eva fly gyro ?iva moment outpost pilot pod react rocket space stab statio steer torque view sspx
	
    #LOC_SSPX_crewpod-habitation-25_title = Обитаемый модуль «Хибара» PPD-20
    #LOC_SSPX_crewpod-habitation-25_description = Хотя почтенного возраста «Кабина Автостопщика» и даёт кербалам возможность жить на орбите, более длинный модуль обеспечит более длинный срок этой жизни. Обратите внимание, что кровати чисто декоративные, сон в них не является предусмотренной функцией.
    #LOC_SSPX_crewpod-habitation-25_tags = base cabin outpost passenger statio tour (hab sspx
	
    #LOC_SSPX_crewpod-habitation-375_title = Обитаемый модуль глубокого космоса «Хостел» PXL-1
    #LOC_SSPX_crewpod-habitation-375_description = Эта огромная жестяная банка включает в себя всё необходимое для сидения, сна и лёгкого перекуса. Это один из первых космических модулей, обладающий раздельными герметичными помещениями (запатентовано). Толстые стены и изоляция делют его отличным межпланетным обиталищем.
    #LOC_SSPX_crewpod-habitation-375_tags = base cabin outpost passenger statio tour (hab sspx

    #LOC_SSPX_crewpod-observation-25_title = Наблюдательный модуль PPD-24
    #LOC_SSPX_crewpod-observation-25_description = PPD-24 - это замечательное дополнение к любой наземной или орбитальной базе, обеспечивающее высокую видимость и... потери тепла.
    #LOC_SSPX_crewpod-observation-25_tags = base cmg ?eva fly gyro ?iva moment outpost react space stab statio view sspx

    // Hubs
    #LOC_SSPX_crewhub-25-1_title = Структурный узел PPD-HEX		// Literally it shoud be "Многоточечный Станционный Соединитель", but that's not comprehensible.
    #LOC_SSPX_crewhub-25-1_description = Иногда вам просто нужен узел побольше.
    #LOC_SSPX_crewhub-25-1_tags = sspx base build center central connect construct (core hub nexus outpost statio

    #LOC_SSPX_crewhub-125-1_title = Структурный узел PTD-HEX
    #LOC_SSPX_crewhub-125-1_description = Покрашенный в белый цвет шестисторонный структурный узел отлично сочетается с другими модулями производства Кербалмакс. Доступен в продаже прямо сейчас - у всех респектабельных дилеров.
    #LOC_SSPX_crewhub-125-1_tags = sspx base build center central connect construct (core hub nexus outpost statio

    // 2.5m tubes
    #LOC_SSPX_crewtube-25-1_title = Герметичный переход PPD-A2
    #LOC_SSPX_crewtube-25-1_description = Переходы серии PPD-A не имеют никаких приспособлений, но они довольно крупные. У модели A2 ровно один иллюминатор.
    #LOC_SSPX_crewtube-25-1_tags = sspx base contain outpost statio (stor tube
    #LOC_SSPX_crewtube-25-2_title = Герметичный переход PPD-A4
    #LOC_SSPX_crewtube-25-2_description = Переходы серии PPD-A не имеют никаких приспособлений, но они замечательно крупные. Модель A4 имеет два иллюминатора и больше по размеру.
    #LOC_SSPX_crewtube-25-2_tags = sspx base contain outpost statio (stor tube

    #LOC_SSPX_crewtube-airlock-25_title = Сервисный шлюз EVAC-U-8
    #LOC_SSPX_crewtube-airlock-25_description = Этот шлюз служит двум целям - для выхода в космос и для стыковки. Отличный выбор для грузового отсека шаттла или крупной станции.
    #LOC_SSPX_crewtube-airlock-25_tags = sspx base outpost statio tube air oxygen door enter

    #LOC_SSPX_crewtube-attach-25_title = Герметичный радиальный узел крепления CZ-15
    #LOC_SSPX_crewtube-attach-25_description = Иногда вам бывает нужно соединить действительно большую трубу с действительно большой трубой... И, да, воздушная смесь необходима.
    #LOC_SSPX_crewtube-attach-25_tags = sspx connect attach rad affix anchor mount secure

    #LOC_SSPX_crewtube-docking-25_title = Большой стыковочный узел «Хват-о-Трон»
    #LOC_SSPX_crewtube-docking-25_description = Увеличенный стыковочный узел для сборки космических аппаратов и станций. Полностью совместим со стандартной версией большого стыковочного узла «Хват-о-Трон».
    #LOC_SSPX_crewtube-docking-25_tags = sspx base build outpost statio berth capture connect couple dock fasten join moor port socket
	
    #LOC_SSPX_crewtube-hub-25_title = Базовый модуль станции «Распределитель» RGB-2
    #LOC_SSPX_crewtube-hub-25_description = Хотя основная прелесть «Распределителя» состоит в его продаже Кербалмаксом по цене мусора, этот модуль весьма неплох в качестве базового узла поверхностной или космической конструкции, поскольку содержит устройство удалённого управления и мощный гиродин.
    #LOC_SSPX_crewtube-hub-25_tags = sspx base build center central connect construct (core hub nexus outpost statio drone core auto guidance reaction rotate wheel

    // Adapters
    #LOC_SSPX_crewtube-25-375-1_title = Герметичный конический адаптер PXL-2
    #LOC_SSPX_crewtube-25-375-1_description = Аэродинамичекая форма данного адаптера должна компенсировать отсутствие структурных усилителей при полётах в атмосфере, впрочем, она не компенсирует большой массы. К счастью для нас, мы можем утрамбовать внутрь нескольких кербалов. К несчастью для них, на привязные ремни денег уже не хватило.
    #LOC_SSPX_crewtube-25-375-1_tags = sspx base contain outpost statio (stor tube can passenger touri adapt
   
    #LOC_SSPX_crewtube-25-375-2_title = Адаптер PPD-PXL
    #LOC_SSPX_crewtube-25-375-2_description = Возможность бесшовно соединить модули PPD с модулями PXL изменит всё... в очередной раз.
    #LOC_SSPX_crewtube-25-375-2_tags = sspx base contain outpost statio (stor tube adap connect
	
    #LOC_SSPX_crewtube-125-25-1_title = Адаптер PPD-PTD
    #LOC_SSPX_crewtube-125-25-1_description = Возросшие прибыли от возможности подсоединения модулей PTD-серии к модулям PPD-серии не прошли незамеченными мимо акционеров Кербомакс. Впрочем, никто не знает, для чего здесь сделали иллюминаторы.
    #LOC_SSPX_crewtube-125-25-1_tags = sspx base contain outpost statio (stor tube adapt connect
    #LOC_SSPX_crewtube-125-25-2_title = Плоский адаптер PPD-серии
    #LOC_SSPX_crewtube-125-25-2_description = Полезный декоративный модуль, этот адаптер замечательно прикрывает уродливую золотую фольгу теплоизоляции. Кому она нужна, а?
    #LOC_SSPX_crewtube-125-25-2_tags = sspx base contain outpoststatio adapt connect (stor tube

    //
    #LOC_SSPX_crewtube-125-1_title = Герметичный переход PTD-02
    #LOC_SSPX_crewtube-125-1_description = PTD-01 был так популярен, что Кербалмакс создала модуль половинной длины PTD-02 чтобы покрыть потребности в новых запчастях. К сожалению, они просят денег больше ожидаемого, особенно учитывая, что всё ещё видна линия разреза.
    #LOC_SSPX_crewtube-125-1_tags = sspx base contain outpost statio (stor tube
    #LOC_SSPX_crewtube-125-2_title = Герметичный переход PTD-01
    #LOC_SSPX_crewtube-125-2_description = Несмотря на беспокойство, вызванное тем, что производитель так упорно пиарил в прессе герметичность этого перехода, он выглядит довольно прочным.
    #LOC_SSPX_crewtube-125-2_tags = sspx base contain outpost statio (stor tube

    #LOC_SSPX_crewtube-airlock-125_title = Сервисный шлюз SCATTER-1		// No good abbreviation for that wordplay. 
    #LOC_SSPX_crewtube-airlock-125_description = После нескольких инцидентов, когда неосторожные кербонавты случайно сбрасывали всё содержимое «Кабины Автостопщика» в вакуум, инженеры Кербалмакса представили модуль, который решает эту проблему размещением второй двери между экипажем и космосом. Пользуется некоторым спросом.
    #LOC_SSPX_crewtube-airlock-125_tags = sspx base outpost statio tube air oxygen door enter

    #LOC_SSPX_crewtube-attach-125_title = Герметичный радиальный узел крепления BZ-15
    #LOC_SSPX_crewtube-attach-125_description = Иногда вам нужен люк - но без шлюза. BZ-15 заполянет эту узкую нишу.
    #LOC_SSPX_crewtube-attach-125_tags = sspx connect attach rad affix anchor mount secure
    #LOC_SSPX_crewtube-cupola-125_title = Фирменный наблюдательный иллюминатор Кербалмакс
    #LOC_SSPX_crewtube-cupola-125_description = Хотя мы и не представляем, как можно лететь в космос в этой крошечной коробочке, но полагаем, что она послужит прекрасным местом для любования звёздами и может быть прикручена куда угодно!

    #LOC_SSPX_crewtube-cupola-125_tags = sspx outpost base space stab statio view obs cupola

    #LOC_SSPX_crewtube-docking-125_title = Стыковочный узел «Хват-о-Трон»
    #LOC_SSPX_crewtube-docking-125_description = Этот стыковочный узел надёжен и содержит приличный запас монотоплива. Он полностью совместим со стандартным стыковочным узлом «Хват-о-Трон».
    #LOC_SSPX_crewtube-docking-125_tags = sspx base build outpost statio berth capture connect couple dock fasten join moor port socket
	
    #LOC_SSPX_crewtube-hub-125_title = Базовый модуль станции «Посредник» RGB-003
    #LOC_SSPX_crewtube-hub-125_description = Ядро станции нижнего уровня производства Кербалмакс также содержит устройство удалёного управления и гиродин, впрочем оба они не отличаются мощностью или эффективностью. Отличный выбор для бюджетной космической программы.
    #LOC_SSPX_crewtube-hub-125_tags = sspx base build center central connect construct (core hub nexus outpost statio drone core auto guidance reaction rotate wheel

    // Misc
    #LOC_SSPX_light-area-01_title = Осветитель Mk3
    #LOC_SSPX_light-area-01_description = Осветитель Mk3 это высокоэффективный инструмент для мягкого освещения больших зон. Для других целей не подходит.
    #LOC_SSPX_light-area-01_tags = moar (more bulb candle dark flash (lamp (light shine spot torch wide sspx

    #LOC_SSPX_DockingPortExtendAction_title = Стыковочный Узел
  }
}