Localization
{
  ru
  {
    // Manufacturers
    #LOC_SSPX_manufacturer_kerbalmax_title = Stockalike Station Parts Expansion

    // Parts
    // Command
    #LOC_SSPX_crewpod-cupola-375_title = Модуль PXL-9 «Купол»
    #LOC_SSPX_crewpod-cupola-375_description = Если «Купол» PDD-12 слишком мал для вашей станции, то кербалы смогут оценить таинство и красоту беспредельного космоса через иллюминаторы большего «Купола» PXL-9, которых ровно двенадцать, как и ароматов кварков и лептонов.
    #LOC_SSPX_crewpod-cupola-375_tags = base capsule cmg command control ?eva fly gyro ?iva moment outpost pilot pod react rocket space stab statio steer torque view sspx

    #LOC_SSPX_crewpod-habitation-25_title = Кабина PPD-20 «Лачуга»
    #LOC_SSPX_crewpod-habitation-25_description = Хотя почтенного возраста «Кабина Автостопщика» и даёт кербалам возможность жить на орбите, более длинный модуль обеспечит более длинный срок этой жизни. Обратите внимание, кровати чисто декоративны, и сон в них не является предусмотренной функцией.
    #LOC_SSPX_crewpod-habitation-25_tags = base cabin outpost passenger statio tour (hab sspx

    #LOC_SSPX_crewpod-habitation-375_title = Кабина PXL-1 «Отель»
    #LOC_SSPX_crewpod-habitation-375_description = Гигантская консервная банка включает в себя всё необходимое для сна и лёгкого перекуса. Это первая кабина, которая оснащена отдельными отсеками со звукоизоляцией — что делает ее отличной межпланетной средой обитания.
    #LOC_SSPX_crewpod-habitation-375_tags = base cabin outpost passenger statio tour (hab sspx

    #LOC_SSPX_crewpod-observation-25_title = Смотровой модуль PPD-24
    #LOC_SSPX_crewpod-observation-25_description = Перед вами прекрасное дополнение к любой базе, часто используется среднестатистической семьёй из 4 кербалов для проведения пикников — здорово наслаждаться чарующим звездным небом, живя в суете современной космической станции.
    #LOC_SSPX_crewpod-observation-25_tags = base cmg ?eva fly gyro ?iva moment outpost react space stab statio view sspx

    // Hubs
    #LOC_SSPX_crewhub-25-1_title = Многоточечный соединитель для станции PPD-HEX
    #LOC_SSPX_crewhub-25-1_description = Иногда нужен соединитель побольше. Так вот же он, теперь доступен для всех уважаемых господ.
    #LOC_SSPX_crewhub-25-1_tags = sspx base build center central connect construct (core hub nexus outpost statio

    #LOC_SSPX_crewhub-125-1_title = Многоточечный соединитель для станции PTD-HEX
    #LOC_SSPX_crewhub-125-1_description = Шестинаправленный PTD-соединитель для вашей станции прекрасно подходит для других модулей нашего производства.
    #LOC_SSPX_crewhub-125-1_tags = sspx base build center central connect construct (core hub nexus outpost statio

    // 2.5m tubes
    #LOC_SSPX_crewtube-25-1_title = Герметичный переход PPD-A2
    #LOC_SSPX_crewtube-25-1_description =  Переходы серии PPD-A не имеют никаких приспособлений, но они довольно крупные. У модели A2 вы можете найти ровно один иллюминатор.
    #LOC_SSPX_crewtube-25-1_tags = sspx base contain outpost statio (stor tube
    #LOC_SSPX_crewtube-25-2_title = Герметичный переход PPD-A4
    #LOC_SSPX_crewtube-25-2_description = Переходы серии PPD-A не имеют никаких приспособлений, но они довольно крупные. У модели A4 вы можете найти ровно два иллюминатора, и она в 2 раза длиннее A2.
    #LOC_SSPX_crewtube-25-2_tags = sspx base contain outpost statio (stor tube

    #LOC_SSPX_crewtube-airlock-25_title = Сервисный модуль ВЫХ-1
    #LOC_SSPX_crewtube-airlock-25_description = Встречайте комбинированный модуль ВЫХ-1 — встраиваемый стыковочный узел и шлюз для выхода кербалов в открытый космос. Отличный выбор для грузового отсека шаттла или крупной станции. Не забудьте поставить его нужной стороной.
    #LOC_SSPX_crewtube-airlock-25_tags = sspx base outpost statio tube air oxygen door enter

    #LOC_SSPX_crewtube-attach-25_title = Герметичный радиальный узел крепления CZ-15
    #LOC_SSPX_crewtube-attach-25_description = Теперь вы знаете что делать, если нужно присоединить  действительно большую трубу к  действительно большой трубе.
    #LOC_SSPX_crewtube-attach-25_tags = sspx connect attach rad affix anchor mount secure

    #LOC_SSPX_crewtube-docking-25_title = Большой стыковочный модуль «Хват-О-Трон»
    #LOC_SSPX_crewtube-docking-25_description = Ещё один стыковочный модуль от наших иностранных коллег, побольше. Полностью совместим с отечественным большим Хват-О-Троном, и содержит немного монотоплива.
    #LOC_SSPX_crewtube-docking-25_tags = sspx base build outpost statio berth capture connect couple dock fasten join moor port socket

    #LOC_SSPX_crewtube-hub-25_title = Базовый модуль станции RGB-002 «Распределитель»
    #LOC_SSPX_crewtube-hub-25_description = Несмотря на то, что основная привлекательность «Распределителя» заключается в его стоимости, он неплох для станций среднего размера, ибо имеет САС и мощный гиродин.
    #LOC_SSPX_crewtube-hub-25_tags = sspx base build center central connect construct (core hub nexus outpost statio drone core auto guidance reaction rotate wheel

    // Adapters
    #LOC_SSPX_crewtube-25-375-1_title = Герметичный конический адаптер PXL-2
    #LOC_SSPX_crewtube-25-375-1_description = Аэродинамическая форма адаптера должна компенсировать отсутствие структурных укреплений при работе в атмосфере. К счастью для нас, внутрь можно поместить несколько кербалов. К несчастью для них, мы не могли позволить себе ремни безопасности.
    #LOC_SSPX_crewtube-25-375-1_tags = sspx base contain outpost statio (stor tube can passenger touri adapt

    #LOC_SSPX_crewtube-25-375-2_title = Плоский адаптер PPD-PXL
    #LOC_SSPX_crewtube-25-375-2_description = Возможность бесшовно соединить PPD-модули c ещё большими PXL-модулями изменила всё... опять.
    #LOC_SSPX_crewtube-25-375-2_tags = sspx base contain outpost statio (stor tube adap connect

    #LOC_SSPX_crewtube-125-25-1_title = Адаптер PPD-PTD
    #LOC_SSPX_crewtube-125-25-1_description = «Кеврика!» — закричал тот, кто впервые придумал соединить модули PTD-серии и модули PPD-серии. Впрочем, никто не знает, для чего здесь сделали иллюминаторы.
    #LOC_SSPX_crewtube-125-25-1_tags = sspx base contain outpost statio (stor tube adapt connect
    #LOC_SSPX_crewtube-125-25-2_title = Плоский адаптер PPD-PTD
    #LOC_SSPX_crewtube-125-25-2_description = Использовался задолго до появления адаптера PPD-PTD как декоративный модуль, прикрывающий эту уродливую золотую изоляционную фольгу. Теперь может ещё и соединять модули разного диаметра.
    #LOC_SSPX_crewtube-125-25-2_tags = sspx base contain outpoststatio adapt connect (stor tube

    //
    #LOC_SSPX_crewtube-125-1_title = Герметичный переход PTD-02
    #LOC_SSPX_crewtube-125-1_description = PTD-01 оказался настолько популярен, что был создан ещё и более короткий PTD-02, но стоит он больше, чем можно было ожидать, особенно учитывая, что линия разреза по-прежнему видна.
    #LOC_SSPX_crewtube-125-1_tags = sspx base contain outpost statio (stor tube
    #LOC_SSPX_crewtube-125-2_title = Герметичный переход PTD-01
    #LOC_SSPX_crewtube-125-2_description = Хотя мы несколько обеспокоены тем, что производитель так упорно пиарил в прессе герметичный характер этого коридора, он выглядит достаточно солидно.
    #LOC_SSPX_crewtube-125-2_tags = sspx base contain outpost statio (stor tube

    #LOC_SSPX_crewtube-airlock-125_title = Сервисный шлюз SCATTER-1
    #LOC_SSPX_crewtube-airlock-125_description = После нескольких инцидентов, во время которых «Кабина автостопщиков» оказывалась «случайно» разгерметизирована, инженеры представили специальный модуль (вмещающий не более одного кербала) — тем самым поместили ещё одну дверь между экипажем и вакуумом. Пользуется некоторым спросом.
    #LOC_SSPX_crewtube-airlock-125_tags = sspx base outpost statio tube air oxygen door enter

    #LOC_SSPX_crewtube-attach-125_title = Герметичный радиальный узел крепления BZ-15
    #LOC_SSPX_crewtube-attach-125_description = Иногда нужен узел крепления, но без люка. BZ-15 заполянет эту узкую нишу.
    #LOC_SSPX_crewtube-attach-125_tags = sspx connect attach rad affix anchor mount secure

    #LOC_SSPX_crewtube-cupola-125_title = Радиальный смотровой иллюминатор
    #LOC_SSPX_crewtube-cupola-125_description = Хотя никто не может тут жить, это прекрасное место для полета мечтаний и упоительного созерцания звёзд и может быть прикручена куда угодно!
    #LOC_SSPX_crewtube-cupola-125_tags = sspx outpost base space stab statio view obs cupola

    #LOC_SSPX_crewtube-docking-125_title = Стыковочный модуль «Хват-О-Трон»
    #LOC_SSPX_crewtube-docking-125_description = Этот стыковочный модуль радиально-присоединяем и прочен. Он был сделан иностранными специалистами, но при этом совместим с отечественным Хват-О-Троном. Ещё в нём есть немного монотоплива, для самых требовательных клиентов.
    #LOC_SSPX_crewtube-docking-125_tags = sspx base build outpost statio berth capture connect couple dock fasten join moor port socket

    #LOC_SSPX_crewtube-hub-125_title ф= Базовый модуль станции RGB-003 «Посредник»
    #LOC_SSPX_crewtube-hub-125_description = Осуществляет контроль станции — содержит САС и гиродин, впрочем они не отличаются мощностью или эффективностью. Подходит для бюджетной космической программы.
    #LOC_SSPX_crewtube-hub-125_tags = sspx base build center central connect construct (core hub nexus outpost statio drone core auto guidance reaction rotate wheel

    // Misc
    #LOC_SSPX_light-area-01_title = Осветитель Mk3
    #LOC_SSPX_light-area-01_description = Если вам нужно слегка осветить большую область — Осветитель Mk3 прекрасный выбор. Почему «Mk3»? Наш промоутер улыбается, но никому не рассказывает.
    #LOC_SSPX_light-area-01_tags = moar (more bulb candle dark flash (lamp (light shine spot torch wide sspx

    #LOC_SSPX_DockingPortExtendAction_title = Стыковочный узел
  }
}
